.centre-main {
    text-align: center;
}

.Dash-button {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Adjust as needed */
}

.login_form-container{
    position: relative;
    width: 400px;
    height: 470px;
    max-width: 400px;
    max-height: 470px;
    background: rgb(100, 99, 97);
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
}
.Dash-button-Dash {
    display: block;
    margin: 0 10px; /* Adjust as needed */
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.Dash-button-login:hover {
    background-color: #3498db;
    color: #fff;
}
.Login-button {
    display: block;
    margin: 0 10px; /* Adjust as needed */
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.login-form {
    display: block;
    font-size: 20px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form input[type = "submit"]:hover {
    background-color: blueviolet;
}
