<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Main Page</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='design.css') }}">	
	<script src='main.js'></script>
</head>
<body>
	<div class="centre-main"><h1> Home </h1></div>
	<br><br><br><br><br><br><br><br><br><br><br><br>
	<div class = "Dash-button">
		<button class="Dash-button-Dash" onclick="location.href='{{ url_for('login') }}'">Login</button>
		<button class="Dash-button-Dash" onclick="location.href='{{ url_for('register') }}'">Register</button>
	</div>
</body>
</html>
