<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Examination Login</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='design.css') }}">
        <script src='main.js'></script>
    </head>
    <style>
        body {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 0;
                background-color: lightgoldenrodyellow;
            }
    </style>
    <body>
        <div class="login_form-container">
            <div class="login-form">
                <form action="" method="post">
                    <label for="designation"></label>
                    <select name = "designation" id="designation">
                        <option value="Teacher" selected>Teacher</option>
                        <option value="Student">Student</option>
                    </select><br><br><br>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Give Your Email" required><br>
                    <label for = "password">Password</label>
                    <input type="password" id="password" name = "password" placeholder = "Enter your password" required><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
