<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Examination Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='design.css') }}">
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="post">
        <label for="pnr">Pnr</label>
        <input type="number" id="pnr" name="pnr" placeholder="Please Enter your PNR" required>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Give Your Full Name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
